
<title> Welcome </title> 
    <body background="img/blue.jpeg">
<div class="container_fluid bg">

    <div class="row" >
        <div class="col-sm-10 col-sm-offset-1 main">
            <div class="col-sm-6 left-side bg2">
                <h1 style="font-size:37px"><b> Breaking boundaries<br> to find your<br>device.</b></br> </br></h1>
                <p></p>
                <br>

                <br>
                <p> Dont have an account already? <u><a href="registerPage.html"style="color: crimson">sign up</a></u> </p>
                <br>or sign in with
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>

            </div>
            <div class="col-sm-5 right-side">
                <form class="form-container" method="POST"  action="/login" >
                    <h1 align="center"><img src="img/logos.png"></h1>

                    <div class="form-group">
                        <label for="Login">Username</label>
                        <input type="Login" class="form-control" id="username" placeholder="username" name="uname">
                    </div>
                    <div class="form-group">
                        <label for="Password1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="psw"  >
                    </div>
                    <br>
                    <div class="checkbox" align="center">
                        <label>
                            <input type="checkbox">Rememeber me
                        </label>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary btn-block" value="Sign In" >
                </form>
        </div>
        </div>

    </div>
</div>
</body>


  