
<title> Track </title> 

<body>
<header style="background-image:url(img/blue2.jpeg)">
    <table class="t1" align="center" >
        <col width="400">
        <col width="900">
        <col width="500">


        <tr>
            <td id="tdimg"><a  href="/"><img src="img/logos.png" ></a> </td>
            <td></td>
            <td id="t3"><a href="/signout">Log out from the account</span>
            </a></td>
    </table>

</header>

<div id="navbar" >
    <a href="/aboutUs"><b>About us</b></a>
    <a href=""><b>Devices</b></a>
    <a href="/"><b>Home</b></a>

</div>


  
            <div id="map"></div>
    <script>
      
       var lattitude={{lattitude}};
       var longitude={{longitude}};



  function myMap() {
  var myCenter = new google.maps.LatLng(lattitude,longitude);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker
  ({position:myCenter
    //,
    //icon:'Images/Location_marker_pin_map_gps.png' 
  });
  
  marker.setMap(map);
}


    </script>
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCa28veJ5a9zqX1weqGIePoKRSH6kYrmwI&callback=myMap" async defer></script>
        </td>

        


<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>


<footer>
    <table class="t1" align="center">
        <col width="400">
        <col width="1000">
        <col width="400">

        <tr>
            <td></td>
            <td class="td2">Track Over</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="td2"><i class="fa fa-facebook-square" style="font-size:25px"></i>
                <i class="fa fa-whatsapp" style="font-size:25px"></i>
                <i class="fa fa-android" style="font-size:25px"></i>
                <i class="fa fa-google" style="font-size:24px"></i>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="td2"><span class="glyphicon">&#xe194;</span> copyrights 2018 by Track Over</td>
            <td class="td2">contact us on: <a href="#">trackover@gmail.com</a></td>
        </tr>
    </table>
</footer>


</body>