
.t1{
    text-align: center;
    padding:20px;
    border: 10px;
}

.td2{
    text-align: center;
    color: white;
    font-family: verdana;
    font-size:15px;
	padding:9px;
}
#t3{
    font-size: 15px;
    text-align: right;
    padding: 15px;
    color: white;
    font-family: verdana;
}

a:link{
    color:white;
}

a:visited{
    color: white;
}

a:hover{
    color: rgba(0, 102, 255, 0.8);
}


header{
    background-color: black;
	
}

footer{
    background-color: black;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;

}

#navbar {
    overflow: hidden;
    background-color: rgba(0, 102, 255, 0.7);
    
    font-size: 15px;

}

#navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 8px 35px;
    transition:all 0.4s ease;
    text-decoration: none;
    font-family:"Segoe UI Light";
	font-size: 18px;
}

#navbar a:hover {
    background-color: white;
    color:black;
}


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.newhref{
    color: black;
}

input[type=text], select, textarea {
    width: 70%;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 15px;
    resize: vertical;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

}
.text{
    text-align: center;
}
input[type=password], select, textarea {
    width: 70%;
    padding: 6px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 15px;
    resize: vertical;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#tlg{
    text-align: center;
    color: black;
    padding: 30px;

}

#plg{ text-align:center ;
    font-family: Lucida Sans Unicode;
    box-shadow: black;
    font-size: 30px;
}

.button{
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: #0040ff;
    border-radius:6px;
    transition: all 0.4s ease;
    right:600px;

}

#button:hover{
    background-color: white;
    box-shadow: 2px 10px 18px 2px rgba(0,0,0,0.4);
    color: black;
}

#tlog{font-size: 15px;

    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}
/*
.dist input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
*/

/* Set a style for all buttons */
button {

    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: #0040ff;
    border-radius:6px;
    transition: all 0.4s ease;
    right:600px;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:#0040ff;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 22px 0 10px 0;
    position: relative;
}

img.logo {
    width: 20%;
    margin-left: 45px;

}

.container {
    padding: 10px;
    width: 60%;
    height: 60%;
   margin-left: 25%;
    margin-right: 25%;

	
}


span.psw {
    
    padding-top: 16px;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 30px 350px 300px 400px;
    top: 70px;
    bottom: 250px;
    right: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
.loginContent{
    margin-right: 70px;
    align-content:left;
    font-family: "Lucida Sans";
}
.modal-content{

    background-color: #fefefe;
/*  margin: 5px auto; !* 15% from the top and centered ;*/
    border: 1px solid #888;

    width: 100%;

}

.cancel{
    position: absolute;
    right: 10px;
    top: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.cancel:hover,
.cancel:focus {

    color: #0040ff;
    cursor: pointer;
}

.animate{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}

}

@keyframes animatezoom  {
    from {transform: scale(0)}
    to {transform: scale(1)}

}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
#tlog{
	padding-top: 40px;
	padding-bottom: 40px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 125px;
    left: 0;
    background-color: rgba(0, 102, 255, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Vollkorn;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color:black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;


}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#icontd{
	vertical-align: top;
	padding-top: 20px;
	background-color: #aadaff;
}
